@{
    ViewBag.Title = "Frequently Asked Questions - FAQ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is our FAQ sheet</p>

<table class="table-bordered">
    <thead>Frequently Asked Questions</thead>
    <tbody>Question 1......</tbody>
    <tbody>Question 1......</tbody>
    <tbody>Question 1......</tbody>
    <tbody>Question 1......</tbody>
    <tbody>Question 1......</tbody>
    <tbody>Question 1......</tbody>
    <tbody>Question 1......</tbody>
    <tbody>Question 1......</tbody>
</table>